spring:
  config:
    activate:
      on-profile: common
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

---
spring:
  config:
    activate:
      on-profile: batch-prod
  batch:
    job:
      enabled: false
      name: FcmTokenRefreshJob
    jdbc:
      initialize-schema: always