$white: #fff;
$black: #000;
$lightgray: #D6D6D6;
$darkgray: #A6A6A6;
$orange100: #FFE3B9;
$orange200: #FFD08A;
$orange300: #FFC773;
$orange400: #FFBE5C;  // 메인 컬러
$orange500: #FFA41C;

$bg-color: $white;
$text-color: $black;
$subtext-color: $darkgray;

$font-size: 13px;
$font-size-small: 11px;
$icon-size: 2.5rem;

$bar-height: 50px;