$white: #fff;
$black: #000;

$orange100: #FFE3B9;
$orange200: #FFD08A;
$orange300: #FFC773;
$orange400: #FFBE5C;  // 대표 색상
$orange500: #FFA41C;
$orange600: #f89c00;

$gray50: #F5F5F5;
$gray75: #ececec;
$gray100: #dadada;
$gray150: #C9C9C9;
$gray200: #c8c8c8;
$gray300: #686868;
$gray400: #4f4f4f;

$kakaoYellow: #FDDC3F;

$lightpink: #FFE8E8;
$lightyellow: #FFED91;
$lightgreen: #c2e5c5;
$lightblue: #b8cdff;
$lightpurple: #d5beff;

$bg-color: $white;
$text-color: $black;
$subtext-color: $gray200;

$font-size: 17px;
$font-size-xSmall: 11px;
$font-size-small: 14px;
$font-size-big: 21px;

$bottomBar-height: 10dvh;
$topBar-height: 6dvh;
$container-height: calc(100svh - $topBar-height - $bottomBar-height);
$profile-icon-size:10dvw;