@use '../abstracts/index' as *;
.bottomAbsoluteButton {
  position: absolute;
  bottom: 0;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  background-color: $orange400;
}

// 회원가입 버튼
.signupButton {
  background-color: $orange400;
  border-radius: 12px;
  font-weight: bold;
  font-size: 30px;
  height: 60px;
  width: 90%;
  color: white;
}