@use '../abstracts/index' as *;
@use './_modal' as *;

.notification-badge {
  background-color: $orange500;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px white solid;
  position: absolute;
  top: 0;
  right: -10%;
}

.notification-pop-up--container {

  @include flex-row;
  @include mx-(3);
  @include px-(1.5);
  @include py-(1);

  position: fixed;
  left: 5dvw;
  width: 90dvw;
  z-index: 9999;
  align-content: center;
  margin: auto auto;
  top:2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  gap:0.7rem;
  @extend %modal-fade-out;


  .notification-content--img{
    width: 10%;
    height: fit-content;
    border-radius: 1rem;
    @include my-(0.2);
  }
  .notification-content--container {
    @include flex-col;

    //gap: 1rem;

    .notification-pop-up--title {
      font-weight: bold;
    }

    .notification-pop-up--content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 60dvw;
    }
  }


}
