@use '../abstracts/index' as *;

.photo__item__list-container {

  @include flex-row;

  flex-wrap: wrap;
  width: 100dvw;
  margin: 0 5vw;

  .photo__item {

    @include flex_center;

    position: relative;

    img {
      background-color: $gray100;
      width: 29dvw;
      height: 29dvw;
      margin: 0.5vw;
      object-fit: cover;
    }

    .check-box {
      position: absolute;
      top: 0;
      left: 0;
      color: $orange500;
    }
  }
}