@use '../abstracts/index' as *;

.photo__item__list-container {
  padding: 5px 5px 0 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2px;

  .photo__item {
    @include flex_center;

    aspect-ratio: auto 1 / 1;
    overflow: hidden;
    border: 1px #efefef solid;

    img {
      background-color: $gray100;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .check-box {
      position: absolute;
      top: 0;
      left: 0;
      color: $orange500;
    }
  }
}