@use '../abstracts/index' as *;

// @extend %circular-profile-image;

// 원형 프로필
%circular-profile-image {
  @include flex_center;

  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}