@use '../abstracts/index' as *;

// @extend %circular-profile-image;

// 원형 프로필
%circular-profile-image {
  border-radius: 50%;

  img {
    width: 100%;
    height: auto;
    border-radius: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}