@use '../abstracts/index' as *;
@use '../components/index' as *;

.notification-tab--container {
  @include mt-(0.5);
  position: relative;
  height: 100%;

  .notification--top--container {
    @include flex-row;
    @include mx-(1);
    @include ml-(2);
    justify-content: space-between;
    align-items: center;

    button {
      font-size: 1rem;
      color: $orange500;
    }
  }

  .read {
    background-color: $gray50;
  }

  .notification-item--container {
    @include flex-row;
    @include p-(1.5);
    @include py-(1.2);

    height: 5.5rem;
    align-items: center;
    gap: 1rem;

    .notification-item-profile--img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
    }

    .notification-item--content-container {
      @include flex-col;

      flex-grow: 1;
      height: 100%;
      //background-color: red;
      justify-content: space-between;

      .notification-item--top--container {
        @include flex-row;
        justify-content: space-between;

        .notification-item-title {
          font-weight: 500;
          //color: $orange500;
        }
      }

      .notification-item-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
      }
    }
  }

  .notification-scroll-finish-explain{
    @include flex-center;
    @include p-(1);

    color: $gray100;
    background-color: $gray50;
  }

}

.notification-setting--container {
  @include p-(2);
  @include pb-(3);

  //position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;


  .setting-top--container {

    @include mb-(2);
    @include flex-center;

    position: relative;

    .setting--title {

      text-align: center;
    }

    .setting-finish-btn {
      position: absolute;
      right: 0;
      font-size: 1.2rem;
      //color: $orange500;
    }
  }


  .toggle-set-list--container {
    @include flex-col;

    gap: 1rem;

    .toggle-set-one-line--container {
      @include flex-row;

      gap: 2.5rem;

      .toggle-item--container {
        @include flex-row;
        align-items: center;

        font-size: 1rem;
        justify-content: space-between;
        flex: 1;
        gap: 1rem;
      }

    }
  }

}

.nagging-modal-bg {
  @extend %modal-overlay;

  .nagging-modal-content--container {
    @extend %modal-content;
    @include p-(2);
    @include mx-(2);

    @include flex-col;
    align-items: start;

    .nagging-modal-title {
      @include mb-(0.8);

      font-size: 1.5rem;
    }

    .nagging-modal-content {
      font-size: 1.3rem;
    }

    .nagging-modal-btn-container {
      @include mt-(1);

      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 1rem;

      .btn {
        @include px-(0.8);
        @include py-(0.6);

        flex-basis: fit-content;
        font-size: 1.1rem;
        font-weight: bold;
        border-radius: 5rem;
      }
      .orange {
        flex-grow: 6;
        background-color: $orange500;
        color: white;
      }

      .plane {
        flex-grow: 5;
        border:1px solid $gray100;
      }
    }
  }
}

