@use '../abstracts/index' as *;

.onboarding__container-center {
  justify-content: center;
  align-items: center;

  .slider__container {
    @include flex_center;
    flex-direction: column;
    height: 100vh;

    h1, h2, h3, h4, h5, h6, p {
      text-align: center;
    }

    p {
      font-size: 1.2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 2rem;
    }

    .mb {
      margin-bottom: 10px;
    }

    .mb-large {
      margin-bottom: 30px;
    }

    .explain {
      @include flex-col;
      @include flex_center;
      height: 100vh*0.5;
      //width: 100vw;
      padding-top: 3rem;
      //border: 3px solid red;
    }

    .pb {
      padding-bottom: 3rem;
    }

    .emptyBox {
      height: 100px;
    }

    .textFlex {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    img {
      object-fit: cover;
    }

    ////카카오 버튼
    //.kakaoLoginButton {
    //  height: 80px;
    //  width: 100vw;
    //  font-weight: bold;
    //  color: black;
    //  font-size: 20px;
    //  background-color: $kakaoYellow;
    //  display: flex;
    //  text-align: center;
    //  justify-content: center;
    //  padding-top: 20px;
    //  position: absolute;
    //  bottom: 0;
    //}

    // 카카오 버튼
    .kakaoLoginButton {
      @include flex_center;

      height: 10%;
      width: 100vw;

      &:active {
        opacity: 0.5;
      }

      .kakaoLoginImage {
        height: 100%;
        width: 100%;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 20%;

    .skipButton {
      font-size: 1.2rem;
      margin-top: 20px;
      color: $gray100;
    }
  }
}

// 표시줄
.onboarding__dotContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100vw;
  margin-top: 10dvh;
  position: absolute;

  // 인디케이터 도트
  .disableDot {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: $gray100;
  }

  .activeDot {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: $orange400;
  }
}

.ios {
  @include flex_center;

  background-color: white;
  padding-bottom: 25px;
  text-align: center;
  padding-top: 30px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 100%;
  width: 100%;

  .ios-header {
    @include flex_center;

    width: 100%;
    flex-direction: column;
  }

  .ios-header__part--01 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .ios-header__part--02 {
    @include flex_center;

    font-weight: bold;
    font-size: 17px;
    height: 30px;
    width: 100%;

    .text--01 {
      @include flex-row;
      @include px-(0.7);
      @include py-(0.3);

      align-items: center;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
}

.android {
  @include flex_center;

  background-color: white;
  padding-bottom: 25px;
  text-align: center;
  padding-top: 30px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 100%;
  width: 100%;

  .android-header {
    @include flex_center;

    width: 100%;
    flex-direction: column;
  }

  .android-header__part--01 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .android-header__part--02 {
    @include flex-center;

    font-weight: bold;
    font-size: 17px;
    height: 30px;
    width: 100%;

    .text--01 {
      @include flex-row;
      @include px-(0.7);
      @include py-(0.3);

      align-items: center;
      border: 1px solid black;
      border-radius: 5px;

      .icon {
      }

      .text {
      }
    }

    .text--02 {
    }
  }
}