@use '../abstracts/index' as *;
@use '../components' as *;

.photo {
  //height: 100%;
  min-height: 100%;

  .photo-tab-container {

    @include flex_center;
    @include py-(1);
    justify-content: space-evenly;
    position: sticky; /* 항상 상단에 고정됩니다. */
    top: 0; /* 상단에 고정됩니다. */
    z-index: 999; /* 다른 컨텐츠 위에 렌더링됩니다. */
    background-color: #fff;

    .photo-tab-container__button {
      color: $gray200; /* 기본 버튼 색상 */
      padding-bottom: 0.2rem;
      font-size: 1.1rem;
    }

    .photo-tab-container__button.active {
      color: $orange500; /* 활성화된 탭의 버튼 색상 */
      border-bottom: 2px solid $orange500;
      padding-bottom: 0.2rem;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .photo-tab-container__plus-button {
      position: absolute;
      right: 1rem;
      color: $orange500;
    }
  }

  .day-month-year-controller {

    @include flex_center;

    position: absolute;
    bottom: 12dvh;
    left: 5dvw;
    z-index: 9999;
    font-size: 1.1rem;
    border-radius: 12rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .day-btn {
      @include flex_center;

      width: 4rem;
      height: 2.5rem;
      border-top-left-radius: 12rem;
      border-bottom-left-radius: 12rem;
      background-color: white;
    }


    .month-btn {
      @include flex_center;

      width: 4rem;
      height: 2.5rem;
      background-color: white;
    }

    .year-btn {
      @include flex_center;

      width: 4rem;
      height: 2.5rem;
      border-top-right-radius: 12rem;
      border-bottom-right-radius: 12rem;
      background-color: white;
    }

    .active-btn {
      background-color: $orange400;
      color: white;
    }
  }

  .month-photo-container {

    @include flex_center;
    @include flex-col;

    .month-photo-item--container {
      @include mb-(1);

      height: 8rem;
      width: 90%;
      border-radius: 1rem;
      position: relative;

      .month {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.3rem;
        z-index: 10;
        color: white;
        font-weight: bold;
      }

      .photo {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        filter: brightness(70%);
        object-fit: cover;
        background-color: red;
        //box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      }
    }


  }

  .photo__button {
    &-add-event {
      @include flex_center;

      position: absolute;
      z-index: 10;
      bottom: 15dvh;
      right: 2rem;
      background-color: $orange400;
      color: white;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:focus,
      &:active,
      &:hover {
        background-color: $orange500;
      }
    }
  }

  .year-photo-container {

    @include flex_center;
    @include flex-col;
    gap: 1rem;

    .year-photo-item--container {

      height: 20rem;
      width: 90%;
      border-radius: 1rem;
      position: relative;

      .year {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.3rem;
        z-index: 10;
        color: white;
        font-weight: bold;
      }

      .photo {
        background-color: red;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        filter: brightness(70%);
        object-fit: cover;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .photo-group--container {

    @include flex-row;
    margin: 3dvh 2dvw;

    flex-wrap: wrap;

    .photo-group--item--container {

      @include flex_center;
      @include flex-col;

      position: relative;
      width: 48dvw;

      .photo-item {
        background-color: $gray100;
        width: 40dvw;
        height: 40dvw;
        border-radius: 0.5rem;
        object-fit: cover;
        //box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      }

      .title {
        @include mt-(0.2);
        @include mb-(1);

        width: 80%;
      }

      .text-white {
        color: white;
      }

      .check-box {
        position: absolute;
        top: 0;
        left: 4dvw;
        color: $orange500;
        z-index: 9999;
      }

      .plus-album--button-container {

        @include flex_center;

        height: 40dvw;
        width: 40dvw;
        border-radius: 0.5rem;
        border: 2px solid $gray100;


        .plus-button {
          color: $gray100;
        }

      }
    }

  }

  .detail-tab--title {
    @include mx-(1.5);
    @include my-(0.5);
    width: 85%;
    font-size: 1.3rem;
    font-weight: bold;
    color: $orange500;
  }

  .edit-modal-bg {
    @extend %modal-overlay;

    .edit-modal-content {
      @extend %modal-content;
      @include p-(1);
      @include flex-row;

      gap: 2rem;

      .icon-title-center {
        @include flex_center;
        @include flex-col;

        height: 4rem;
        gap: 0.5rem;
      }

    }
  }

  .input-modal-bg {
    @extend %modal-overlay;

    .input-modal-content {
      @extend %modal-content;
      @include p-(2);
      @include flex-col;

      gap: 1rem;

      .modal-title {
        font-size: 1.3rem;
      }

      .submit-btn {
        @extend %orange-button-small;
        @include m-(0);
      }

      .submit-btn:disabled {
        background-color: $orange100;
      }


    }
  }

  .album-name-select-modal-bg {
    @extend %modal-overlay;

    .album-name-select-modal-content {
      @extend %modal-content;
      @include p-(2);
      @include flex-col;

      max-height: 20rem;
      overflow: scroll;
      gap: 1rem;

      .album-name-item {
        @include flex_center;

        width: 100%;
        border: 2px solid $orange500;
        border-radius: 0.2rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        color: $orange500;

      }

    }
  }


}

.photo-detail {
  @include flex_col;

  height: 100%;
  justify-content: center;
  background-color: white;
  
}