@use '../abstracts/index' as *;
@use '../components/index' as *;

.profile-index {
  height: 100%;
  width: 100%;

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68%;
    width: 100%;

    .profile__img-box {
      @extend %circular-profile-image;

      height: 200px;
      width: 200px;
      border-radius: 100%;
      position: relative;
      margin-top: 5%;

      .img-box__img {

        height: 200px;
        width: 200px;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .profile__nickname {
      @include flex_center;

      height: 30%;
      width: 40%;
      margin-top: 5%;
      position: relative;

      &__part--01 {
        font-size: 30px;
        font-weight: bold;
      }

      &__part--02 {
        @include flex_center;

        height: 20px;
        width: 20px;
        position: absolute;
        right: 6%;

        &:hover {
          opacity: 0.2;
          transition: 0.1s;
        }

        .icon {
          height: 100%;
          width: 100%;

          path {

            stroke: $gray200;
          }
        }
      }
    }

    .profile__mood-box {
      @include flex_center;

      margin-top: 1%;
      height: 10%;
      width: 100%;

      .mood-box__title {
        font-size: 22px;
        color: $orange400;
      }

      .mood-box__btn {
        margin-left: 2%;
        height: 45px;
        width: 45px;
        border-radius: 100%;

        &:hover {
          opacity: 0.2;
          transition: 0.1s;
        }

        &--text {
          font-size: 31px;
        }
      }
    }

    .profile__info-box {
      height: 100%;
      width: 70%;
      font-size: 18px;
      color: $gray200;

      .info-box__name {
        display: flex;
        align-items: center;
        height: 25%;
        width: 100%;

        .name__title {
          height: 100%;
          width: 30%;
          display: flex;
          align-items: center;

          &--text {

          }
        }

        .name__body {

          &--text {
            color: black;
          }
        }
      }

      .info-box__role {
        display: flex;
        align-items: center;
        height: 25%;
        width: 100%;

        .role__title {
          height: 100%;
          width: 30%;
          display: flex;
          align-items: center;

          &--text {

          }
        }

        .role__body {

          &--text {
            color: black;
          }
        }
      }

      .info-box__birth {
        display: flex;
        align-items: center;
        height: 25%;
        width: 100%;

        .birth__title {
          height: 100%;
          width: 30%;
          display: flex;
          align-items: center;

          &--text {

          }
        }

        .birth__body {
          height: 100%;
          width: 70%;
          color: black;
          align-content: center;

          &__part--01 {
            margin-right: 5%;
          }

          &__part--02 {
          }
        }
      }

      .info-box__phone {
        display: flex;
        align-items: center;
        height: 25%;
        width: 100%;

        .phone__title {
          height: 100%;
          width: 30%;
          display: flex;
          align-items: center;

          &--text {

          }
        }

        .phone__body {
          height: 100%;
          width: 70%;
          color: black;
          position: relative;
          align-content: center;

          &__part--01 {
            margin-right: 5%;
          }

          &__part--02 {
            display: inline-block;
            height: 22px;
            width: 22px;
            border-radius: 100%;
            position: absolute;
            background-color: $orange400;

            .icon {
              position: absolute;
              height: 13px;
              width: 13px;
              color: white;
              right: 22%;
              bottom: 22%;
            }
          }

          &__part--03 {
            color: $gray100;
          }
        }
      }
    }
  }

  &__character {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    .character__created {

      .created__title {

        &--text {

        }
      }

      .created__character-box {

        .character-box__question {

        }

        .character-box__answer {

        }

        .character-box__btn-detail {

          .btn-detail--text {

          }
        }
      }
    }

    .character__non-created {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50%;
      width: 100%;

      .non-created__btn {
        @extend %orange-button-large;

        .btn--text {

        }
      }
    }
  }
}