@use '../abstracts/index' as *;

@function calendarBannerImage($month) {
  @return '../../image/schedule/calendarBanner' + $month + '.jpg';
}

.calendarContainer {
  height: 100%;

  // banner뒤의 숫자에 따라 1월부터 12월까지의 이미지로 변경
  .banner {
    @for $i from 1 through 12 {
      &#{$i} {
        background: {
          image: url(calendarBannerImage(#{$i}));
          position: center;
          repeat: no-repeat;
          size: cover;
        };
        height: 13%;
        border-radius: 40px 40px 0 0;
      }
    }
  }

  .calendar {
    margin: 0 2%;
    height: 87%;

    .calendar__header {
      @include flex_row;
      justify-content: center;
      align-items: end;
      height: 8%;

      .calendar__headerButton {
        color: $orange200;
      }

      .calendar__headerTitle {
        @include mx-(1);
        font: {
          weight: 500;
          size: $font-size-big;
        };
      }
    }
  }
}