@use '../abstracts/index' as *;
@use '../components/index' as *;

.create-schedule {
  @include flex-col;

  justify-content: space-between;
  height: 100%;

  &__input-container {
    @include flex-col;

    gap: 1.5rem;
  }

  &__title {
    font: {
      weight: 600;
      size: $font-size-big;
    };
    text-align: center;
  }

  &__sub-title {
    @include px-(1);

    font-weight: 600;
  }

  //input {
  //  width: 100%;
  //  border: 1px $subtext-color solid;
  //  border-radius: 10px;
  //}

  &-info {
    &__input {
      &-title {
        @include px-(1);

        position: relative;
        right: 0;
      }

      &-color {
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 10px;
        border: #C9C9C9 1px solid;
      }

      &-content {
        @include px-(1);
      }

      &-category {
        @include px-(1);

        &-family {

        }

        &-individual {

        }
      }
    }
  }

  &-period {
    &__date {
      @include px-(1);
      @include flex-row;
      gap: 1rem;
    }

    &__time {
      @include px-(1);
      @include flex-row;
      gap: 1rem;
    }
  }

  &-participant {

    &__profile {
      @include flex-row;

      overflow-x: auto;
      gap: 1.5rem;

      &-image {
        @extend %circular-profile-image;

        width: 18dvw;
      }

      &-nickname {
        text-align: center;
      }
    }
  }

  &__button-create {
    @include flex-center;


    button {
      @extend %orange-button-large;

    }
  }
}