@use '../abstracts/index' as *;
@use '../components/index' as *;

.create-schedule {
  @include flex-col;

  justify-content: space-between;
  height: 100%;

  &__input-container {
    @include flex-col;

    gap: 1.5rem;
  }

  &__title {
    font: {
      weight: 600;
      size: $font-size-big;
    };
    text-align: center;
  }

  &__sub-title {
    font-weight: 600;
  }

  //input {
  //  width: 100%;
  //  border: 1px $subtext-color solid;
  //  border-radius: 10px;
  //}

  &-info {
    background-color: $lightpink;

    &__input {
      &-title {

      }

      &-color {

      }

      &-content {

      }

      &-category {

        &-family {

        }

        &-individual {

        }
      }
    }
  }

  &-period {
    background-color: $lightblue;
    &__date {

    }

    &__time {

    }
  }

  &-participant {
    background-color: $lightgreen;

    &__profile {
      @include flex-row;

      overflow-x: auto;
      gap: 1.5rem;

      &-image {
        @extend %circular-profile-image;

        width: 18dvw;
      }

      &-nickname {
        text-align: center;
      }
    }
  }

  &__button-create {
    @include flex-center;


    button {
      @extend %orange-button-large;

    }
  }
}