@use '../abstracts/index' as *;
@use '../components/index' as *;

.create-schedule {
  @include flex-col;

  justify-content: space-between;

  &__input-container {
    @include flex-col;
    @include px-(1);
  }

  &__title {
    font: {
      weight: 600;
      size: $font-size-big;
    };
    text-align: center;
  }

  &__sub-title {
    @include mt-(1.5);

    font-weight: 500;
  }

  &-info {
    &__input {
      &-title {
        position: relative;
        right: 0;
      }

      &-color-button {
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 30%;
        border: $gray150 1px solid;
        top: 28px;
        right: 10px;

        &--active {
          @extend .create-schedule-info__input-color-button;

          border: $orange300 2px solid;
        }
      }

      &-content {
        @include mb-(0.5);
      }

      &-category {
      }
    }
  }

  &-period {
    &__input {
      @include flex-row;

      gap: 0.5rem;
    }

    &__date {
      width: 70%;
    }

    input {
      text-align: center;
      height: 16.5px;
    }
  }

  &-participant {
    &__profile {
      @include mt-(1);

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      &-image {
        @extend %circular-profile-image;

        width: 18dvw;
      }

      &-nickname {
        text-align: center;
      }
    }
  }

  &__button-create {
    @include flex-center;

    button {
      @extend %orange-button-large;
      @include mt-(2);
    }
  }

  &__input-color {
    position: absolute;
    z-index: 10;
    bottom: 10dvh;
    background-color: white;
    height: 10rem;
    width: 100%;
    border-radius: 30px 30px 0 0;
    border-top: $gray150 0.1px solid;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.05);

    &-title {
      display: flex;
      justify-content: center;
      align-items: end;
      height: 25%;
      font-weight: 500;
    }

    &-list {
      @include flex_center;

      gap: 1rem;
      height: 70%;
    }

    &-item {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 30%;
      border: $gray150 1px solid;

      &--active {
        @extend .create-schedule__input-color-item;

        border: $orange300 2px solid;
      }
    }
  }
}