@use '../abstracts' as *;
@use '../components' as *;


.schedule {
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.schedule-calendar {
  height: 100%;
  //transition: height 0.5s ease-in-out;

  &--open {
    height: 50%;
    //transition: height 0.5s ease-in-out;
  }

  &__header {
    @include flex_center;

    height: 4rem;
  }

  &__title-wrapper {
    @include flex_center;

    gap: 1.5rem;
  }

  &__main {
    height: 85%;
  }

  &__button {
    &-today {
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: 7dvw;
      margin-left: -30px;
      margin-top: -18px;
      background-color: white;
      color: $orange300;
      padding: 8px 15px;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font: {
        weight: 600;
        size: 15px;
      }
    }

    &-month {
      color: black;
      width: 3rem;
    }

    &-add-event {
      @include flex_center;

      position: absolute;
      z-index: 10;
      bottom: 7dvw;
      right: 7dvw;
      background-color: $orange400;
      color: white;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:focus,
      &:active,
      &:hover {
        background-color: $orange500;
      }
    }
  }

  &__month {
    position: relative;
    font: {
      weight: 800;
      size: $font-size-big;
    };
  }

  &__year {
    position: absolute;
    top: -20px;
    text-align: center;
    width: 100%;
    color: $gray400;
    font: {
      weight: 500;
      size: $font-size-small;
    };
  }

  &__day {
    position: relative;
    width: 100%;
    text-align: center;
  }

  &__today {
    position: absolute;
    z-index: -10;
    background: $orange400;
    top: 0;
    left: 50%;
    width: 22px;
    height: 22px;
    transform: translate(-50%, -17%);
    border-radius: 50%;
  }

  &__group {
    height: 17px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    font: {
      size: 11px;
      weight: 500;
    }
    overflow: hidden;
  }

  &__personal {
    height: 17px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    font: {
      size: 11px;
      weight: 500;
    }
    overflow: hidden;

    &__profile {
      @extend %circular-profile-image;

      min-width: 17px;
      height: 17px;
      margin-right: 3px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__event {
    height: 16px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    font: {
      size: 11px;
      weight: 500;
    }
    overflow: hidden;

    &-icon {
      position: absolute;
      width: 14px;
      height: 14px;
      right: -1px;
      top: -2px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__more {
    @include flex_center;

    min-width: 6px;
    min-height: 6px;
    background-color: $orange600;
    border-radius: 50%;
  }
}

.day-toast {
  @include flex-col;

  height: 50%;
  width: 100dvw;
  overflow: auto;
  border-top: #efefef 1px solid;
  background-color: #FAFAFA;

  &__header {
    border-bottom: #efefef 1px solid;
  }

  &__date {
    @include flex-row;

    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem 1rem 1rem 1rem;

    &-solar {
      font: {
        weight: 500;
        size: 19px;
      }
    }

    &-lunar {
      color: $subtext-color;
      font-size: 16px;
    }
  }

  &__close {
    @include flex_center;

    color: $subtext-color;
  }

  &__no-event {
    @include flex_center;
    @include mt-(1);

    color: $subtext-color;
  }

  &__color {
    position: absolute;
    width: 6px;
    height: 100%;
    border-radius: 2px;
  }

  &__schedule {
    @include flex_col;

    gap: 1.2rem;
    padding: 15px 15px 6rem 15px;
    overflow: scroll;

    &-item {
      @include flex-row;

      align-items: center;
      min-height: 4rem;
      position: relative;
    }
  }

  &__group {
    @include flex-row;
    @include mx-(1.5);

    width: 100%;
    align-items: center;
    font-weight: 500;

    &__participate {
      position: absolute;
      top: 3px;
      right: 3px;

      .MuiAvatar-root {
        width: 1.5rem;
        height: 1.5rem;
        font-size: $font-size-small;
      };
    }
  }

  &__personal {
    @include flex-row;
    @include mx-(1.5);

    width: 100%;
    align-items: center;
    gap: 1rem;
    font-weight: 500;

    &__profile {
      @extend %circular-profile-image;

      width: 2.5rem;
      height: 2.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__event {
    @include flex-row;
    @include mx-(1.5);

    width: 100%;
    align-items: center;
    font-weight: 500;
    gap: 5px;

    &__icon {
      width: 1rem;
      height: 1rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__record {
    @include flex-row;

    margin-right: 0.5rem;
    gap: 3px;
    align-items: end;
    height: 100%;
    color: $subtext-color;
    font: {
      size: $font-size-small;
      weight: 300;
    }
  }
}