@use '../abstracts' as *;
@use '../components' as *;


.schedule {
  height: 100%;
  position: relative;
}

.schedule-calendar {
  margin: 0 2%;
  height: 100%;

  &--open {
    height: 50%;
  }

  &__header {
    @include flex_center;

    height: 15%;
    padding-top: 1rem;
  }

  &__title-wrapper {
    @include flex_center;

    gap: 1.5rem;
  }

  &__main {
    height: 85%;
  }

  &__button {
    &-today {
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: 7dvw;
      margin-left: -30px;
      margin-top: -18px;
      background-color: white;
      color: $orange300;
      padding: 8px 15px;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font: {
        weight: 600;
        size: 15px;
      }
    }

    &-month {
      color: black;
      width: 3rem;
    }

    &-add-event {
      @include flex_center;

      position: absolute;
      z-index: 10;
      bottom: 7dvw;
      right: 7dvw;
      background-color: $orange400;
      color: white;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:focus,
      &:active,
      &:hover {
        background-color: $orange500;
      }
    }
  }

  &__month {
    position: relative;
    font: {
      weight: 800;
      size: $font-size-big;
    };
  }

  &__year {
    position: absolute;
    top: -20px;
    text-align: center;
    width: 100%;
    color: $gray400;
    font: {
      weight: 500;
      size: $font-size-small;
    };
  }

  &__day {
    position: relative;
    width: 100%;
    text-align: center;
  }

  &__today {
    position: absolute;
    z-index: -10;
    background: $orange400;
    top: -2px;
    left: 25%;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
  }

  &__holiday {
    text-align: center;
  }
}

.day-toast {
  @include flex-col;
  @include px-(1);

  height: 50%;
  width: 100dvw;
  overflow: auto;
  border-top: $gray100 1px solid;

  &__header {
    @include mt-(1);
  }

  &__title {
    text-align: center;
    font: {
      size: 20px;
      weight: 500;
    }
  }

  &__close {

  }

  &__no-event {

  }

  &__schedule-list {
    @include flex_col;

    gap: 1rem;

    &-group {
      background-color: #FFD08A;
      min-height: 7rem;
      border: $gray100 1px solid;
      border-radius: 10px;
    }

    &-personal {
      background-color: #c2e5c5;
      min-height: 7rem;
    }

    &-event {
      background-color: #b8cdff;
      min-height: 7rem;
      border: $gray100 1px solid;
      border-radius: 10px;
    }
  }
}