@use '../abstracts/index' as *;

// 가족 생성/입장 - 첫 선택 페이지
.signupIndex {
  height: 100vh;
  background-color: $orange400;
  padding-left: 10%;

  &__iconBox {
    padding-top: 20%;
    padding-bottom: 5%;

    &__icon {
      width: 100px;
      height: 100px;

      path {
        fill: white;
      }
    }
  }

  &__textBox {
    font-size: 40px;
    display: flex;
    flex-direction: column;

    &__text1 {
      font-weight: bold;
    }

    &__text2 {
      font-weight: bold;
    }

    &__text3 {
    }
  }

  &__createButtonBox {
    padding-top: 20%;

    &__createButton {
      background-color: white;
      border-radius: 12px;
      font-weight: bold;
      font-size: 30px;
      height: 60px;
      width: 89%;
      color: black;
    }
  }

  &__joinButtonBox {
    padding-top: 5%;

    &__joinButton {
      background-color: $orange100;
      border-radius: 12px;
      font-weight: bold;
      font-size: 30px;
      height: 60px;
      width: 89%;
      color: black;
    }
  }
}

// 가족 생성/입장 - 부모 페이지
.signupFamily {
  height: 100vh;
  width: 100%;

  &__div {
    height: 100%;
    width: 100%;
  }
}

// 가족 생성/입장 - 가족 생성 컴포넌트
.familySetInfo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  &__textBox {
    margin-top: 12%;

    &__text1 {
      font-weight: bold;
      font-size: 30px;
    }

    &__text2 {
      font-size: 30px;
    }
  }

  &__imageBox {
    margin-top: 5%;
    border: 1px solid black;
    height: 155px;
    width: 155px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      border: 1px solid black;
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }

    &__changeButtonBox {
      height: 25%;
      width: 25%;
      position: absolute;
      border-radius: 100%;
      right: 0;
      bottom: 0;

      &__changeButton {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: $orange400;
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
        }

      }
    }
  }

  &__inputBox {
    @include flex_center;
    height: 6%;
    width: 65%;
    margin-top: 10%;
    border-bottom: 1px solid black;

    &__input {
      font-size: 25px;
      text-align: center;
      justify-content: center;
    }
  }

  &__nextButtonBox {
    @include flex_center;
    margin-top: 5%;
    height: 10%;
    width: 100%;
  }
}

// 가족 생성/입장 - 초대 코드 공유 컴포넌트
.familyShareCode {
  margin-top: 2%;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  &__textBox {
    margin-top: 10%;

    &__text1 {
      font-weight: bold;
      font-size: 30px;
    }

    &__text2 {
      font-size: 30px;
    }
  }

  &__imageBox {
    margin-top: 5%;
    border: 1px solid black;
    height: 155px;
    width: 155px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      border: 1px solid black;
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }
  }

  &__nameBox {
    margin-top: 10%;
    height: 10%;

    &__name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__codeSection {
    position: relative;
    height: 13%;
    width: 60%;
    background-color: gainsboro;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__textBox {
      margin-top: 8%;
      display: block;
      &__text {
        font-size: 20px;
      }
    }

    &__codeBox {
      margin-top: 5%;
      display: block;
      &__code {
        font-size: 25px;
        font-weight: bold;
      }
    }

    &__iconBox {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 55%;
      right: 10%;

      &__icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  &__kakaoButtonBox {
    margin-top: 20%;
    border: 1px solid black;
  }

  &__nextButtonBox {
    @include flex_center;
    position: absolute;
    margin-top: 5%;
    height: 10%;
    width: 100%;
    bottom: 5%;
  }
}

.familyJoin {
  height: 100%;

  &__codeInput {
    @include flex_center;
    flex-direction: column;
    height: 100%;

    &__textBox {
      margin-top: 20%;

      &__text1 {
        font-size: 30px;
        font-weight: bold;
      }

      &__text2 {
        font-size: 30px;
      }
    }

    &__inputBox {
      @include flex_center;
      height: 6%;
      width: 65%;
      margin-top: 10%;
      padding-bottom: 2%;
      border-bottom: 1px solid black;

      &__input {
        font-size: 25px;
        text-align: center;
        justify-content: center;
      }
    }

    &__inputButtonBox {
      @include flex_center;
      height: 20%;
      width: 20%;
      border-radius: 12px;
      background-color: $orange400;

      &__inputButton {
        height: 20%;
      }
    }
  }

  &__codeResult {

  }
}