@use '../abstracts/index' as *;
@use '../components/index' as *;

// 첫 선택 페이지
.signup-index {
  height: 100%;
  background-color: $orange400;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__icon {
    width: 30%;
    height: 13%;

    .icon {
      width: 100%;
      height: 100%;

      path {
        fill: white;
      }
    }
  }

  &__title {
    margin-top: 5%;
    font-size: 200%;
    display: flex;
    flex-direction: column;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
      font-weight: bold;
    }

    .title__part--03 {
    }
  }

  &__btn {
    margin-top: 20%;

    .btn-family-set {
      @extend %orange-button-large;

      background-color: white;
      height: 60px;

      &__text {
        color: black;
        font-weight: bold;
      }
    }

    .btn-family-join {
      @extend %orange-button-large;

      background-color: $orange200;
      margin-top: 0;
      height: 60px;

      &__text {
        color: black;
        font-weight: bold;
      }
    }
  }
}

// 가족 생성 페이지
.signup-family-set {
  @include flex_center;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  // 제목
  &__title {
    font-size: 180%;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  // 이미지 상자
  &__img-box {
    margin-top: 10%;
    height: 155px;
    width: 155px;
    position: relative;

    .img-box__btn {
      @extend %circular-profile-image;

      height: 155px;
      width: 155px;
      border: 1px solid $gray75;

      .btn--img {

      }

      .btn--icon {
          position: absolute;
          border-radius: 100%;
          height: 33px;
          width: 33px;
          background-color: $gray100;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 5px;
          bottom: 5px;

        .icon {
          fill: white;
        }
      }
    }
  }

  &__input-box {
    @include flex_center;

    height: 6%;
    width: 65%;
    margin-top: 10%;
    border-bottom: 1px solid $gray100;

    .input-box__input {
      width: 100%;
      font-size: 32px;
      text-align: center;
      justify-content: center;
    }
  }

  &__error-message {
    color: red;
    margin-top: 1%;
  }

  &__btn {
    @include flex_center;

    height: 10%;
    width: 80%;

    .btn-next {
      @extend %orange-button-large;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }
}

// 가족 생성 확인
.signup-family-set-check {
  @include flex_center;

  height: 100%;
  width: 100%;
  flex-direction: column;

  &__title {
    font-size: 30px;
    margin-bottom: 10%;

    .title__part--01 {
    }

    .title__part--02 {
    }
  }

  &__img {
    @extend %circular-profile-image;

    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray75;
    margin-top: 5%;

    .img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-top: 10%;

    .name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__btn {
    @include flex_center;

    margin-top: 10%;
    flex-direction: column;

    .btn-introduce {
      @extend %orange-button-medium;

      &__text {
      }
    }

    .btn-back {

      &__text {
        font-size: 120%;
        color: $gray200;
        text-decoration: underline;
      }
    }
  }
}

// 가족 코드 공유
.signup-family-set-share {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  &__title {
    margin-top: 12%;
    font-size: 30px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__img {
    @extend %circular-profile-image;

    margin-top: 5%;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-top: 10%;
    height: 10%;

    .name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__code-box {
    @include flex_center;

    position: relative;
    height: 18%;
    width: 75%;
    background-color: $gray50;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .code-box {

      &__text {
        font-size: 20px;
      }

      &__code {
        margin-top: 5%;
        display: block;
        font-size: 30px;
        font-weight: bold;
      }

      &__btn {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 55%;
        right: 10%;

        .btn-copy {
          height: 100%;
          width: 100%;

          &__icon {
            color: black;
          }
        }
      }
    }

  }

  &__btn-kakao {

    margin-top: 5%;

    .btn-kakao__btn {

    }

    .btn-kakao__logo {

    }
  }

  &__btn-next {
    @include flex_center;

    position: absolute;
    bottom: 5%;
    margin-top: 5%;
    height: 10%;
    width: 100%;

    .btn-next__btn {
      @extend %orange-button-large;

    }
  }
}

// 가족 입장 페이지
.signup-family-join {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-top: 30%;
    font-size: 30px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__input-box {
    @include flex_center;

    height: 6%;
    width: 75%;
    margin-top: 10%;
    border-bottom: 1px solid $gray100;

    .input-box__input {
      width: 100%;
      font-size: 30px;
      text-align: center;
      justify-content: center;
    }
  }

  &__error-message {
    color: red;
  }

  &__btn {
    margin-top: 5%;

    .btn-input {
      @extend %orange-button-medium;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }
}

// 가족 입장 체크 페이지
.signup-family-join-check {
  @include flex_center;

  height: 100%;
  flex-direction: column;

  &__img {
    @extend %circular-profile-image;

    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-top: 10%;

    .name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__btn {
    @include flex_center;

    flex-direction: column;
    margin-top: 10%;

    .btn-join-member {
      @extend %orange-button-medium;

      &__text {
      }
    }

    .btn-back {
      width: 80%;

      &__text {
        font-size: 120%;
        color: $gray200;
        text-decoration: underline;
      }
    }
  }

}

.signup-auth {
  @include flex_center;

  height: 100%;
  width: 100%;
  background-color: $orange400;

  &__title {
    font-size: 40px;
    font-weight: bold;
  }
}