@use '../abstracts/index' as *;
@use '../components/index' as *;

// 가족 생성/입장 - 첫 선택 페이지
.signupIndex {
  height: 100%;
  background-color: $orange400;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__iconBox {
    width: 30%;
    height: 13%;

    &__icon {
      width: 100%;
      height: 100%;

      path {
        fill: white;
      }
    }
  }

  &__spanBox {
    margin-top: 5%;
    font-size: 200%;
    display: flex;
    flex-direction: column;

    &__span1 {
      font-weight: bold;
    }

    &__span2 {
      font-weight: bold;
    }

    &__span3 {
    }
  }

  &__createButtonBox {
    margin-top: 20%;

    &__createButton {
      @extend .orangeButtonLarge;
      background-color: white;
      height: 60px;
      margin-top: 0px;

      &__span {
        color: black;
        font-weight: bold;
      }
    }
  }

  &__joinButtonBox {

    &__joinButton {
      @extend .orangeButtonLarge;
      background-color: $orange200;
      margin-top: 0;
      height: 60px;

      &__span {
        color: black;
        font-weight: bold;
      }
    }
  }
}

// 가족 생성/입장 - 부모 페이지
.signupFamily {
  height: 100%;
  width: 100%;

  &__div {
    @include flex-center;
    height: 100%;
    width: 100%;
    background-color: $orange400;

    &__span {
      font-weight: bold;
      font-size: 30px;
    }
  }
}

// 가족 생성/입장 - 가족 생성 컴포넌트
.familySetInfo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  &__spanBox {
    margin-top: 12%;

    &__span1 {
      font-weight: bold;
      font-size: 30px;
    }

    &__span2 {
      font-size: 30px;
    }
  }

  &__imageBox {
    margin-top: 5%;
    border: 1px solid black;
    height: 155px;
    width: 155px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      border: 1px solid black;
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }

    &__changeButtonBox {
      height: 25%;
      width: 25%;
      position: absolute;
      border-radius: 100%;
      right: 0;
      bottom: 0;

      &__changeButton {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: $gray100;
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
          fill: white;
        }

      }
    }
  }

  &__inputBox {
    @include flex_center;
    height: 6%;
    width: 65%;
    margin-top: 10%;
    border-bottom: 1px solid black;

    &__input {
      font-size: 25px;
      text-align: center;
      justify-content: center;
    }
  }

  &__nextButtonBox {
    @include flex_center;
    margin-top: 5%;
    height: 10%;
    width: 100%;

    &__nextButton {
      @extend .orangeButtonLarge;
    }
  }
}

// 가족 생성/입장 - 가족 생성 확인 모달
.familySetCheckModal {
  border: 1px solid black;
  height: 100%;
  width: 100%;

  &__spanBox {
    border: 1px solid black;

    &__span {

    }
  }
}

// 가족 생성/입장 - 초대 코드 공유 컴포넌트
.familyShareCode {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  &__spanBox {
    margin-top: 12%;

    &__span1 {
      font-weight: bold;
      font-size: 30px;
    }

    &__span2 {
      font-size: 30px;
    }
  }

  &__imageBox {
    margin-top: 5%;
    border: 1px solid black;
    height: 155px;
    width: 155px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      border: 1px solid black;
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }
  }

  &__nameBox {
    margin-top: 10%;
    height: 10%;

    &__name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__codeSection {
    @include flex_center;
    position: relative;
    height: 18%;
    width: 75%;
    background-color: $gray50;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    &__spanBox {
      display: block;
      &__span {
        font-size: 20px;
      }
    }

    &__codeBox {
      margin-top: 5%;
      display: block;
      &__code {
        font-size: 30px;
        font-weight: bold;
      }
    }

    &__copyButtonBox {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 55%;
      right: 10%;

      &__copyButton {
        height: 100%;
        width: 100%;

        &__icon {
          color: black;
        }
      }
    }
  }

  &__kakaoButtonBox {
    margin-top: 20%;
    border: 1px solid black;

    &__kakaoButton {

    }
  }

  &__nextButtonBox {
    @include flex_center;
    position: absolute;
    bottom: 5%;
    margin-top: 5%;
    height: 10%;
    width: 100%;

    &__nextButton {
      @extend .orangeButtonLarge;
    }
  }
}

// 가족 생성/입장 - 코드 입력 컴포넌트
.familyJoin {
  height: 100%;
  width: 100%;

  // 코드 입력 전
  &__codeInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &__spanBox {
      margin-top: 30%;

      &__span1 {
        font-size: 30px;
        font-weight: bold;
      }

      &__span2 {
        font-size: 30px;
      }
    }

    &__inputBox {
      @include flex_center;
      height: 6%;
      width: 75%;
      margin-top: 10%;
      padding-bottom: 2%;
      border-bottom: 1px solid black;

      &__input {
        font-size: 25px;
        text-align: center;
        justify-content: center;
      }
    }

    &__inputButtonBox {
      margin-top: 5%;

      &__inputButton {
        @extend .orangeButtonMedium;

        &__span {

        }
      }
    }
  }

  // 코드 입력 후
  &__codeResult {
    @include flex_center;
    height: 100%;
    flex-direction: column;

    &__imageBox {
      border: 1px solid black;
      height: 155px;
      width: 155px;
      border-radius: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &__image {
        border: 1px solid black;
        height: 150px;
        width: 150px;
        border-radius: 100%;
      }
    }

    &__nameBox {
      margin-top: 10%;

      &__name {
        font-weight: bold;
        font-size: 30px;
      }
    }

    &__joinFamilyButtonBox {
      margin-top: 10%;

      &__joinFamilyButton {
        @extend .orangeButtonMedium;

        &__span {

        }
      }
    }

    &__backButtonBox {
      @include flex_center;
      width: 24%;
      border-bottom: 1px solid $gray200;
      padding-bottom: 1%;

      &__backButton {

        &__span {
          font-size: 100%;
          color: $gray200;
        }
      }
    }
  }
}