@use '../abstracts/index' as *;
@use '../components/index' as *;

// 로딩중 페이지(우리 서버의 액세스 토큰을 받는 페이지)
.signup-auth {
  @include flex_center;

  height: 100%;
  width: 100%;
  background-color: $orange400;

  &__title {
    font-size: 40px;
    font-weight: bold;
  }
}

// 첫 선택 페이지
.signup-index {
  height: 100%;
  background-color: $orange400;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__icon {
    width: 30%;
    height: 13%;

    .icon {
      width: 100%;
      height: 100%;

      path {
        fill: white;
      }
    }
  }

  &__title {
    margin-top: 5%;
    font-size: 200%;
    display: flex;
    flex-direction: column;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
      font-weight: bold;
    }

    .title__part--03 {
    }
  }

  &__btn {
    margin-top: 20%;

    .btn-family-join {
      @extend %orange-button-large;

      background-color: white;
      margin-top: 0;
      height: 60px;

      &__text {
        color: black;
        font-weight: bold;
      }
    }
  }
}

// 권한 설정 페이지
.signup-permission {
  @include flex_center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  &__title {
    @include flex_center;

    flex-direction: column;
    font-size: 25px;

    .title__part--01 {
    }

    .title__part--02 {
    }
  }

  &__checkbox {
    width: 80%;
    font-size: 17px;
    margin-top: 10%;

    .checkbox-all {
      width: 100%;
      display: flex;
      align-items: center;
      margin-left: 5%;

      &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 30px;
        width: 30px;
        border: 2px solid $gray200;
        border-radius: 30%;
        cursor: default;
        padding-left: 1px;

        &:checked {
          background-color: $orange400;
          border-color: $orange400;
          cursor: default;

          &::after {
            content: '\2713';
            font-size: 30px;
            color: white;
            line-height: 27px;
          }
        }
      }

      &__label {
        margin-left: 5%;
        font-size: 25px;
        font-weight: bold;

        .label__text {

        }
      }
    }

    .checkbox-privacy {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 15%;
      margin-left: 5%;

      &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 30px;
        width: 30px;
        border: 2px solid $gray200;
        border-radius: 30%;
        cursor: default;
        padding-left: 1px;

        &:checked {
          background-color: $orange400;
          border-color: $orange400;
          cursor: default;

          &::after {
            content: '\2713';
            font-size: 30px;
            color: white;
            line-height: 27px;
          }
        }
      }

      &__label {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        .label__part--01 {
          font-weight: bold;
        }

        .label__part--02 {
          color: $gray300;
        }
      }
    }

    .checkbox-push {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 10%;
      margin-left: 5%;

      &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 30px;
        width: 30px;
        border: 2px solid $gray200;
        border-radius: 30%;
        cursor: default;
        padding-left: 1px;

        &:checked {
          background-color: $orange400;
          border-color: $orange400;
          cursor: default;

          &::after {
            content: '\2713';
            font-size: 30px;
            color: white;
            line-height: 27px;
          }
        }
      }

      &__label {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        .label__part--01 {
          font-weight: bold;
        }

        .label__part--02 {
          color: $gray300;
        }
      }
    }

    .checkbox-camera {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 10%;
      margin-left: 5%;

      &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 30px;
        width: 30px;
        border: 2px solid $gray200;
        border-radius: 30%;
        cursor: default;
        padding-left: 1px;

        &:checked {
          background-color: $orange400;
          border-color: $orange400;
          cursor: default;

          &::after {
            content: '\2713';
            font-size: 30px;
            color: white;
            line-height: 27px;
          }
        }
      }

      &__label {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        .label__part--01 {
          font-weight: bold;
        }

        .label__part--02 {
          color: $gray300;
        }
      }
    }
  }

  &__btn {
    @include flex_center;

    width: 80%;
    margin-top: 10%;

    .btn-next {
      @extend %orange-button-large;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }
}

// 가족 입장 페이지
.signup-family-join {
  @include flex_center;

  height: 100%;
  width: 100%;
  flex-direction: column;

  &__title {
    font-size: 28px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__input-box {
    @include flex_center;

    height: 6%;
    width: 70%;
    margin-top: 10%;
    border-bottom: 1px solid $gray100;

    .input-box__input {
      width: 100%;
      font-size: 30px;
      text-align: center;
      justify-content: center;
    }
  }

  &__error-message {
    color: red;
  }

  &__btn {
    @include flex_center;

    width: 80%;

    .btn-input {
      @extend %orange-button-large;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }

  &__create {
    @include flex_center;

    width: 100%;

    .btn-create {

      &__text {
        font-size: 15px;
        color: $gray200;
        text-decoration: underline;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

// 가족 입장 체크 페이지
.signup-family-join-check {
  @include flex_center;

  height: 100%;
  flex-direction: column;

  &__img {
    @extend %circular-profile-image;

    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-top: 10%;

    .name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__btn {
    @include flex_center;

    flex-direction: column;
    margin-top: 10%;

    .btn-join-member {
      @extend %orange-button-medium;

      &__text {
      }
    }

    .btn-back {
      width: 80%;

      &__text {
        font-size: 120%;
        color: $gray200;
        text-decoration: underline;
      }
    }
  }

}

// 가족 생성 페이지
.signup-family-set {
  @include flex_center;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  // 제목
  &__title {
    font-size: 28px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  // 이미지 상자
  &__img-box {
    margin-top: 10%;
    height: 155px;
    width: 155px;
    position: relative;

    .img-box__btn {
      @extend %circular-profile-image;

      height: 155px;
      width: 155px;
      border: 1px solid $gray75;
      border-radius: 5%;

      &:active {
        opacity: 0.5;
      }

      .btn--img {
      }

      .btn--icon {
        @include flex_center;

        position: absolute;
        border-radius: 100%;
        height: 33px;
        width: 33px;
        background-color: $gray100;
        right: 5px;
        bottom: 5px;

        .icon {
          fill: white;
        }
      }
    }
  }

  &__input-box {
    @include flex_center;

    height: 6%;
    width: 65%;
    margin-top: 10%;
    border-bottom: 1px solid $gray100;

    .input-box__input {
      width: 100%;
      font-size: 32px;
      text-align: center;
      justify-content: center;
    }
  }

  &__error-message {
    color: red;
    margin-top: 1%;
  }

  &__btn {
    @include flex_center;

    height: 10%;
    width: 80%;

    .btn-next {
      @extend %orange-button-large;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }
}

// 가족 생성 확인
.signup-family-set-check {
  @include flex_center;

  height: 100%;
  width: 100%;
  flex-direction: column;

  &__title {
    font-size: 28px;
    margin-bottom: 5%;

    .title__part--01 {
    }

    .title__part--02 {
    }
  }

  &__img {
    @extend %circular-profile-image;

    height: 200px;
    width: 200px;
    border-radius: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray75;
    margin-top: 7%;

    .img {
      height: 200px;
      width: 200px;
    }
  }

  &__name {
    margin-top: 9%;

    .name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__btn {
    @include flex_center;

    margin-top: 7%;
    flex-direction: column;

    .btn-introduce {
      @extend %orange-button-medium;

      &__text {
      }
    }

    .btn-back {

      &__text {
        font-size: 120%;
        color: $gray200;
        text-decoration: underline;
      }
    }
  }
}