@use '../abstracts/index' as *;
@use '../components/index' as *;

// 멤버 이름 설정 페이지
.signup-member-set {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-top: 30%;
    font-size: 30px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__input-box {
    @include flex_center;

    height: 6%;
    width: 60%;
    margin-top: 10%;
    border-bottom: 1px solid $gray100;

    .input-box__input {
      width: 100%;
      font-size: 30px;
      text-align: center;
      justify-content: center;
    }
  }

  &__error-message {
    margin-top: 1%;
    color: red;
  }

  &__btn {
    @include flex_center;

    width: 100%;
    margin-top: 5%;

    .btn-next {
      @extend %orange-button-large;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }
}

// 멤버 생일과 성별 입력 페이지
.signup-member-set-birth {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title-birth {
    margin-top: 10%;
    font-size: 30px;

    .title-birth__part--01 {
      font-weight: bold;
    }

    .title-birth__part--02 {
    }
  }

  &__birthday {
    @include flex_center;

    width: 85%;
    margin-top: 5%;

    .birthday-date-field {
      height: 100%;
      width: 100%;

      &__input {
      }
    }

    .birthday-choice {
      @include flex_center;

      width: 100%;
      margin-left: 3%;
      margin-top: 3%;

      &__btn-solar, &__btn-lunar {
        @include flex_center;

        width: 50%;
        font-size: 18px;

        .btn-solar__input, .btn-lunar__input {
          margin-top: 3%;
          margin-right: 3%;
          appearance: none;
          background-color: #fff;
          color: $gray200;
          width: 1.6em;
          height: 1.6em;
          border: 1px solid $gray200;
          border-radius: 50%;
          transform: translateY(-0.075em);
          display: grid;
          place-content: center;

          &:checked {
            color: orange;
            border-color: orange;
          }

          &:checked::before {
            content: "";
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background: orange;
          }

          &--label {
            color: $gray100;
            margin-left: 5%;
          }

          &--label--selected {
            color: $orange400;
            margin-left: 5%;
          }
        }

        .btn-solar__input {

          &--label {
            margin-right: 5%;

            &--selected {
              margin-right: 5%;
            }
          }
        }
      }
    }
  }

  &__title-gender {
    margin-top: 10%;
    font-size: 30px;

    .title-gender__part--01 {
      font-weight: bold;
    }

    .title-gender__part--02 {
    }
  }

  &__gender {
    @include flex_center;

    width: 100%;
    font-size: 18px;
    margin-top: 5%;

    .gender-choice {
      @include flex_center;

      width: 100%;
      height: 100%;
      gap: 20px;

      &__btn-male {
        @include flex_center;

        width: 60px;
        height: 60px;
        border: 2px solid $gray100;
        border-radius: 100%;

        &--selected {
          @include flex_center;

          width: 60px;
          height: 60px;
          border-radius: 100%;
          border: 2px solid $lightblue;
          background-color: $lightblue;
        }
      }

      &__btn-female {
        @include flex_center;

        width: 60px;
        height: 60px;
        border: 2px solid $gray100;
        border-radius: 100%;

        &--selected {
          @include flex_center;

          width: 60px;
          height: 60px;
          border-radius: 100%;
          border: 2px solid #FFB6D5;
          background-color: #FFB6D5;
        }
      }

      .btn-male--icon {
        color: $gray100;
        width: 75%;
        height: 75%;

        &--selected {
          color: white;
          width: 75%;
          height: 75%;
        }
      }

      .btn-female--icon {
        color: $gray100;
        width: 75%;
        height: 75%;

        &--selected {
          color: white;
          width: 75%;
          height: 75%;
        }
      }
    }
  }

  &__btn {
    @include flex_center;

    width: 100%;
    margin-top: 5%;

    .btn-next {
      @extend %orange-button-large;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }
}

// 멤버 역할 및 아이콘 설정 페이지
.signup-member-set-role {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__choice {
    @include flex_center;

    height: 75%;
    width: 100%;
  }

  &__btn {
    @include flex_center;

    width: 100%;
    margin-top: 5%;

    .btn-next {
      @extend %orange-button-large;

      &__text {
      }

      &:disabled {
        background-color: $gray75;
      }
    }
  }
}

// 멤버 역할 - 남성
.signup-member-set-role-male {
  @include flex_center;

  flex-direction: column;
  height: 100%;
  width: 100%;

  &__title-role {
    @include flex_center;

    margin-top: 7%;
    font-size: 30px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__role {
    @include flex_center;

    flex-direction: column;
    margin-top: 5%;

    .btn-dad, .btn-son, .btn-etc {
      margin-top: 5%;
      font-weight: bold;
      font-size: 25px;
      color: $gray100;
      height: 60px;
      width: 200px;
      border: 2px solid $gray100;
      border-radius: 30px;

      &--selected {
        margin-top: 5%;
        font-weight: bold;
        font-size: 25px;
        color: $orange400;
        height: 60px;
        width: 200px;
        border: 2px solid $orange400;
        border-radius: 30px;
      }
    }
  }

  &__role-etc {
    @include flex_center;

    height: 15%;
    width: 80%;
  }

  &__error-message {
    color: red;
  }

  &__title-icon {
    @include flex_center;

    font-size: 30px;
    margin-top: 5%;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__icon {
    @include flex_center;

    width: 100%;
    margin-top: 10%;

    .icon-box {
      @include flex_center;

      width: 100%;
      height: 100%;
      gap: 20px;

      &__btn-kid, &__btn-young, &__btn-old {
        @include flex_center;

        width: 80px;
        height: 80px;
        border-radius: 100%;

        &--selected {
          @include flex_center;

          width: 80px;
          height: 80px;
          border-radius: 100%;
        }
      }

      .btn-kid--icon, .btn-young--icon, .btn-old--icon {
        height: 100%;
        width: 100%;

        g {
          circle {
            fill: $gray100;
          }
        }

        circle {
          stroke: $gray100;
        }

        &--selected {
          height: 100%;
          width: 100%;

          g {
            circle {
              fill: $orange400;
            }
          }

          circle {
            stroke: $orange400;
          }
        }
      }
    }
  }
}

// 멤버 역할 - 여성
.signup-member-set-role-female {
  @include flex_center;

  flex-direction: column;
  height: 100%;
  width: 100%;

  &__title-role {
    @include flex_center;

    margin-top: 7%;
    font-size: 30px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__role {
    @include flex_center;

    flex-direction: column;
    margin-top: 5%;

    .btn-mom, .btn-daughter, .btn-etc {
      margin-top: 5%;
      font-weight: bold;
      font-size: 25px;
      color: $gray100;
      height: 60px;
      width: 200px;
      border: 2px solid $gray100;
      border-radius: 30px;

      &--selected {
        margin-top: 5%;
        font-weight: bold;
        font-size: 25px;
        color: $orange400;
        height: 60px;
        width: 200px;
        border: 2px solid $orange400;
        border-radius: 30px;
      }
    }
  }

  &__role-etc {
    @include flex_center;

    height: 15%;
    width: 80%;
  }

  &__error-message {
    color: red;
  }

  &__title-icon {
    @include flex_center;

    font-size: 30px;
    margin-top: 5%;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__icon {
    @include flex_center;

    width: 100%;
    margin-top: 10%;

    .icon-box {
      @include flex_center;

      width: 100%;
      height: 100%;
      gap: 20px;

      &__btn-kid, &__btn-young, &__btn-old {
        @include flex_center;

        width: 80px;
        height: 80px;
        border-radius: 100%;

        &--selected {
          @include flex_center;

          width: 80px;
          height: 80px;
          border-radius: 100%;
        }
      }

      .btn-kid--icon, .btn-young--icon, .btn-old--icon {
        height: 100%;
        width: 100%;

        g {
          circle {
            fill: $gray100;
          }
        }

        circle {
          stroke: $gray100;
        }

        &--selected {
          height: 100%;
          width: 100%;

          g {
            circle {
              fill: $orange400;
            }
          }

          circle {
            stroke: $orange400;
          }
        }
      }
    }
  }
}

// 멤버 역할 - 기타
.signup-member-set-role-etc {
  @include flex_center;
  height: 100%;

  &__input {

    height: 50%;
    width: 55%;
    margin-top: 5%;
    border-bottom: 1px solid $gray100;

    .input {
      height: 100%;
      width: 100%;
      font-size: 30px;
      text-align: center;
      justify-content: center;
    }
  }
}

// 멤버 정보 확인 페이지
.signup-member-set-check {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-top: 30%;
    font-size: 30px;

    .title__text {
      font-weight: bold;
    }
  }

  &__img-box {
    @extend %circular-profile-image;

    margin-top: 10%;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-box {

      &__img-selected {
        height: 200px;
        width: 200px;
        border-radius: 100%;
        object-fit: cover;
      }

      &__img-male-kid,
      &__img-male-young,
      &__img-male-old,
      &__img-female-kid,
      &__img-female-young,
      &__img-female-old {
        height: 200px;
        width: 200px;
        border-radius: 100%;

        g {
          circle {
            fill: $orange400;
          }
        }

        circle {
          stroke: $orange400;
        }
      }

      &__btn {
        @extend %circular-profile-image;

        position: absolute;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        background-color: $gray100;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 8px;
        bottom: 8px;

        .btn__icon {
          fill: white;
        }
      }
    }
  }

  &__info {
    margin-top: 5%;

    .info-header {
      @include flex_center;

      &__name {

        .name--text {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }

    .info-body {
      @include flex_center;

      flex-direction: column;
      margin-top: 10%;

      &__role {
        font-size: 23px;

        .role__part--01 {

        }

        .role__part--02 {
          font-size: 28px;
          font-weight: bold;
        }

        .role__part--03 {

        }
      }

      &__birth {
        font-size: 23px;
        margin-top: 1%;

        .birth__part--01 {
          font-size: 28px;
          font-weight: bold;
        }

        .birth__part--02 {

        }
      }
    }
  }

  &__btn-back {
    @include flex_center;

    margin-top: 5%;

    .btn-back__btn {
      width: 100%;

      .btn__text {
        font-size: 120%;
        color: $gray200;
        text-decoration: underline;
      }
    }
  }

  &__btn-next {
    @include flex_center;

    width: 100%;
    margin-top: 5%;

    .btn-next__btn {
      @extend %orange-button-large;

      .btn__text {
      }
    }
  }
}

// 가족 코드 공유
.member-family-set-share {
  @include flex_center;

  height: 100%;
  width: 100%;
  flex-direction: column;

  &__title {
    font-size: 30px;

    .title__part--01 {
      font-weight: bold;
    }

    .title__part--02 {
    }
  }

  &__img {
    @extend %circular-profile-image;

    margin-top: 5%;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray75;

    .img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-top: 5%;
    height: 7%;

    .name {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__code-box {
    @include flex_center;

    position: relative;
    height: 18%;
    width: 70%;
    background-color: $gray50;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .code-box {

      &__text {
        font-size: 20px;
      }

      &__code {
        margin-top: 5%;
        display: block;
        font-size: 30px;
        font-weight: bold;
      }

      &__btn {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 55%;
        right: 10%;

        .btn-copy {
          height: 100%;
          width: 100%;

          &__icon {
            color: black;
          }
        }
      }
    }
  }

  &__message {
    margin-top: 1%;

    .message--text {
      color: red;
    }
  }

  &__btn-kakao {

    margin-top: 5%;
    margin-bottom: 1%;

    .btn-kakao__btn {

    }

    .btn-kakao__logo {

    }
  }

  &__btn-next {
    @include flex_center;

    height: 10%;
    width: 80%;

    .btn-next__btn {
      @extend %orange-button-large;

    }
  }
}

// 가입 축하 페이지
.signup-member-set-finish {
  @include flex_center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  &__title {
    height: 10%;
    display: flex;
    flex-direction: column;

    .title__header {
      font-size: 30px;

      .title__part--01 {
        font-weight: bold;
        font-size: 35px;
      }

      .title__part--02 {
      }
    }

    .title__body {
      margin-top: 1%;
      font-size: 30px;

      .title__part--03 {
      }
    }
  }

  &__img {
    height: 40%;
    width: 100%;
    margin-left: 19%;
    margin-top: 10%;

    .img {

    }
  }

  &__btn {
    @include flex_center;

    width: 100%;

    .btn-next {
      @extend %orange-button-large;

      &__text {
      }
    }
  }
}